//- mixin sectionContent for creating a content block on a page
mixin sectionContentDouble(headline, sub)
	section(id!=attributes.id, class="s_double_w")
		.cont_block
			.h_block
				h1= headline
			h2= sub
		//- Should be cont_block, research on this
		.cont_p
			block
mixin sectionContent(headline, sub)
	section(id!=attributes.id)
		.cont_block
			.h_block
				h1= headline
			h2= sub
		.cont_block
			block
mixin sectionTable(headline, sub)
	section(id!=attributes.id, class="s_double_w")
		.cont_block
			.h_block
				h1= headline
			h2= sub
		.cont_t
			div(class="cont_table grid50")
				block

mixin sectionContentImage(iSource)
	section(id!=attributes.id, class="i_full_section")
		img(src=iSource, class="s_img_fullscreen")
